# OS X
.DS_Store*
Icon?
._*


# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
null/

# Linux
.directory
*~

# Editors
.idea

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Generated coverage
lib-cov
coverage

# node-waf configuration
.lock-wscript

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Compiled
dist/

# Dependency directory
node_modules

# Environment config
.env
.env.sample

# Nightwatch UI Tests
test/reports

# Lib - so it doesn't get recomitted by accident
lib

# Package-lock is OS specific, so we don't want to commit it
package-lock.json
yarn-error.log


log/*
build/*